
/*GENERAL*/

body {
	font-family: 'Ubuntu', sans-serif;
}

/*NAVBAR*/

.bg-topNav {
	background-color: rgb(0, 51, 102);
}

.bg-topNav > div {
	padding-top: 10px;
}

.bg-topNav > div a {
	color: white;
	margin: 0 20px;
}

.bg-topNav > div a:hover {
	color: rgb(0, 153, 255);
	text-decoration: none;
}

.navbar-BS {
	background-color: rgb(0, 153, 255);
}

.navbar-BS a {
	color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: rgb(0, 51, 102);
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	border-color: #337ab7;
	background-color: rgb(0, 51, 102);
}

.navbar-BS .navbar-header a {
	font-family: 'Coiny', cursive;
	font-size: 2em;
	font-weight: bolder;
}

/*CAROUSEL*/

.title {
	font-family: 'Coiny', cursive;
	color: white;
	text-transform: uppercase;
}

.title h1,
.title h2 {
	font-size: 5em;
	font-weight: bolder;
	margin-top: 30vh;
}

.title p {
	font-size: 2em;
	margin-bottom: 30vh;
}

.bg-opacity {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-image: linear-gradient(to bottom right, rgba(0, 0, 102, 0.7), rgba(0, 255, 204, 0.7));
}

.bg-slide1 {
	background-image: url(img/slide_01.png);
	background-size: cover;
	background-position: center;
	height: 89vh;
	position: relative;
	z-index: -1;
}

.bg-slide2 {
	background-image: url(img/slide_02.png);
	background-size: cover;
	background-position: center;
	height: 89vh;
	position: relative;
	z-index: -1;
}

.bg-slide3 {
	background-image: url(img/slide_03.png);
	background-size: cover;
	background-position: center;
	height: 89vh;
	position: relative;
	z-index: -1;
}

/*CARDS*/

/*FOOTER*/


